/* app css stylesheet */

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.date {
  font-weight: 700;
  font-size: 3em;
}

.description {
  font-size: 1.5em;
  font-weight: 300;
}

.background {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  max-width: 100%;

  z-index: -1000;
}
